._1lpsn{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin:10px 0}

._3DJPq{margin:10px}._3DJPq .TODc2{display:flex;justify-content:flex-start}._3DJPq ul{display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start;padding:0}._3DJPq ul li{display:flex;list-style-type:none}._3DJPq .EPdhW{position:absolute;width:16px;height:16px;top:5px;right:5px;cursor:pointer}._3DJPq .EPdhW:hover{color:red}._3DJPq .EPdhW svg{vertical-align:top}._3DJPq ._2wmBE{width:20px}._3DJPq .lUOP2{stroke:green}

._2YHsl{display:flex;justify-content:center;flex-wrap:wrap;width:80%;margin:auto}._rIFp{display:flex;justify-content:space-between;width:100%;margin:10px 0}._2afkf{width:30px;height:30px;cursor:pointer}._2afkf:hover{color:mediumblue}._GKgm{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin:10px 0}

._3G76w{width:100%}._3w3ll{font-size:20px;font-weight:bold}

._33c_s{width:100%;display:flex;justify-content:center}.sU1XQ{width:55%}._3yZM5{display:flex;justify-content:flex-start;padding:5px}._3Iou8{width:20px;height:20px;margin-left:5px;cursor:pointer}._3Iou8:hover{color:red}._2pJ7C{width:30px;height:30px;position:absolute;top:5px;right:5px;cursor:pointer}._2pJ7C:hover{stroke:red}

