.OqgPL{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin:10px 0}

._3WtTq{margin:10px}._3WtTq ._2jClS{display:flex;justify-content:flex-start}._3WtTq ul{display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start;padding:0}._3WtTq ul li{display:flex;list-style-type:none}._3WtTq ._2M0G-{position:absolute;width:16px;height:16px;top:5px;right:5px;cursor:pointer}._3WtTq ._2M0G-:hover{color:red}._3WtTq ._2M0G- svg{vertical-align:top}._3WtTq ._1MiZA{width:20px}._3WtTq ._1ptHJ{stroke:green}

.q1k41{display:flex;justify-content:center;flex-wrap:wrap;width:80%;margin:auto}._2z1-T{display:flex;justify-content:space-between;width:100%;margin:10px 0}._3mr7J{width:30px;height:30px;cursor:pointer}._3mr7J:hover{color:mediumblue}._2boTA{display:flex;justify-content:flex-start;flex-wrap:wrap;width:100%;margin:10px 0}

._3ZIKr{width:100%}.zQotx{font-size:20px;font-weight:bold}

._3BglO{width:100%;display:flex;justify-content:center}.om4vy{width:55%}._26YIq{display:flex;justify-content:flex-start;padding:5px}.tXM5H{width:20px;height:20px;margin-left:5px;cursor:pointer}.tXM5H:hover{color:red}._10pLw{width:30px;height:30px;position:absolute;top:5px;right:5px;cursor:pointer}._10pLw:hover{stroke:red}

