.footer {
  display: block;
  width: 100%;
  padding-top: 126px;
  padding-bottom: 124px;
  background-color: #150433; }

.footer__top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%; }

.footer__top-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  font-style: normal;
  color: #FCFCFC; }
  .footer__top-column a {
    font-style: normal;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 26px;
    color: #FCFCFC; }
  .footer__top-column ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0; }
    .footer__top-column ul li {
      list-style: none; }
      .footer__top-column ul li a {
        font-size: 12.6px;
        line-height: 28px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #FCFCFC; }
      .footer__top-column ul li:hover {
        text-decoration: underline; }

.footer__column-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px; }

.footer__column-text {
  font-weight: normal;
  font-size: 16.2px;
  line-height: 26px; }

.footer__menu-title {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  border-bottom: 1px solid #F61067; }

.footer__email-phone {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .footer__email-phone p {
    margin-left: 18px; }
    .footer__email-phone p:last-child {
      margin-left: 21px; }

.footer__links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 26px; }
  .footer__links a {
    margin-right: 42px; }

.footer__bottom {
  margin-top: 64px; }
  .footer__bottom p {
    margin-left: 22.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 11.7px;
    line-height: 19px;
    color: #FCFCFC; }
